<h2 class="training__date" (click)="expand()">{{training.createdAt | date:'medium' }}</h2>
<ul class="training__exercise-list">
    <li class="trainining__exercise"
        *ngFor="let execution of training.executions"
    >
        {{execution.exercise.name}}: <span *ngFor="let set of execution.sets" class="training__exercise">{{set.repetitions}} ({{set.weight}}) - </span> <button class="training__new-set" *ngIf="expanded" (click)="selectExecution(execution.id)">+</button>
    </li>
</ul>
<ng-container *ngIf="expanded">
    <button *ngIf="!showForm" class="training__execution-form-show" i18n="@@training__execution-form-show" (click)="showForm=true">New exercise</button>
    <form [formGroup]="form" class="training__form" [ngStyle]="{'display':  showForm ? 'block' : 'none' }">
        <input formControlName="exercise" 
            id="training__exercise-create" 
            class="training__exercise-create" 
            i18n-placeholder="@@training__exercise-create"
            placeholder="Pick or create an exercise"
        />
        <ul id="training__exercise-select" class="training__exercise-select">
            <li *ngFor="let exercise of exercises" [value]="exercise.name" class="training__exercise-select-option">{{exercise.name}}</li>
        </ul>
        <button class="training__execution-form-close" i18n="@@training__execution-form-close" (click)="showForm=false">Cancel</button>
        <button type="submit" class="training__execution-form-close" i18n="@@training__execution-form-submit" (click)="createExecution()">Go!</button>
    </form>
    <form [formGroup]="setForm" class="training__form" [ngStyle]="{'display':  selectedExecution ? 'block' : 'none' }">
        <input formControlName="repetitions" 
            class="training__set-repetitions" 
            i18n-placeholder="@@training__exercise-repetitions"
            placeholder="reps"
        />
        <input formControlName="restSeconds" weight
            class="training__set-restSeconds" 
            i18n-placeholder="@@training__set-restSeconds"
            placeholder="restSeconds"
        />
        <input formControlName="weight" 
            class="training__set-weight" 
            i18n-placeholder="@@training__set-weight"
            placeholder="weight"
        />
        <input formControlName="timeUnderTension" 
            class="training__set-timeUnderTension" 
            i18n-placeholder="@@training__set-timeUnderTension"
            placeholder="timeUnderTension"
        />
        <button class="training__execution-form-close" i18n="@@training__execution-form-close" (click)="selectedExecution=null">Cancel</button>
        <button type="submit" class="training__execution-form-close" i18n="@@training__execution-form-submit" (click)="createSet()">Go!</button>
    </form>
    <button *ngIf="!showForm" class="training__delete" i18n="@@training__delete" (click)="deleteTraining()">Delete training</button>
</ng-container>
