@import 'utils/mixins';

:host {
    @include padding(8);
    @include border-radius(lg);
    width: 100%;
    display: block;
    background-color: white;
    min-height: 10vh;
    transition: min-height .5s, font-size .5s;
}

:host(.expanded) {
    min-height: 50vh;
    font-size: 2rem;
}

.training__date {
    cursor: pointer;
}